<div class="columns large-8"></div>
<div class="columns large-4">
  <div style="min-height:700px;background-color:#fff;width:100%" class="form-wrap">
  <div class="row collapse"><div class="columns large-centered large-10"><img src="/assets/images/logo.png" width="100" height="24"><h6>We help increase the conversion rate of your inbound private events inquiries at amazing speed.</h6><br><a href="/auth/facebook" class="button expand large">Sign Up With Facebook</a>
  <form data-abide>
    <div class="row">
      <div class="venueName">
        <label>Venue Name<input type="text" name="venueName" placeholder="Venue Name" required minLength="3"></label>
      </div>
      <span class="error">ERROR</span>
    </div>
    <div class="row">
      <div class="venueUrl">
        <label class="venueUrl">URL<input type="text" name="venueUrl" placeholder="Venue Url" pattern="(http(s?)\:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,6}((\S)*)$"></label>
      </div>
      
    </div>

    <div class="row">
      <div class="name">
        <label class="name">Full Name<input type="text" name="name" placeholder="Full Name" required minLength="3"/></label>
      </div>
      
    </div>
    <div class="row">
      <div class="jobTitle">
        <label class="jobTitle">Job Title<input type="text" name="jobTitle" placeholder="Job Title"></label>
      </div>
      
    </div>
    <div class="row">
      <div class="email">
        <label class="email">Email<input type="email" name="email" placeholder="Email" required></label>
      </div>
      
    </div>
    <div class="row">
      <div class="password">
        <label class="password">Password<input type="password" name="password" placeholder="Password" required minLength="6"></label>
      </div>
      
    </div>
    <button>Get Started</button>
  </form>
  <div>
    <a href="/#/signin">Sign In</a>
  </div>
  
  </div>
</div>
</div>
</div>
