node_modules
dist
.tmp
.sass-cache
bower_components
.floo
.flooignore
app/bower_components

#databse name
/server/config/databasename
#database password
/server/config/databasepassword

#database username
/server/config/databaseusername

#dbConfig
/server/config/dbconfig.js