<!-- beginning of active box -->
<div class="panel row" ng-controller="checkoutController">
  <span class="small-4 columns">
  </span>
  <span class="small-4 columns">
    <div class="row">
      <span class="small-6 columns">
        <img src="images/door.png"> 
      </span>
      <p class="small-6 columns dull"><strong>ROOM</strong>
      </p>
    </div>
  </span>

  <span id= "small-4 columns">
    <div class="row">
      <p class="small-6 columns dull">
        {{room.roomName}}
      </p>
      <span class="small-6 columns">
      </span>
    </div>
  </span>

<hr>


<!-- event part of panel start -->

<span class="small-4 columns">
</span>


<span class="small-4 columns">
  <div class="row">
    <span class="small-6 columns">
      <img src="images/calendar.png"> 
    </span>
    <p class="small-6 columns"><strong>EVENT</strong></p>
    </span>
    </p>
  </div>
</span>

 <span id= "small-4 columns">
    <div class="row">
      <p class="small-6 columns dull">
        {{params.eventType}}
      </p>
      <span class="small-6 columns">
      </span>
    </div>
  </span>

<span id= "small-4 columns">
  <div class="row">
    <span class="small-6 columns">
    </span>
    <span class="small-6 columns">
    </span>
  </div>
</span>

<!-- event part of panel end -->

<span ng-show="eventConfirmed" class="small-12 columns">
  <div class="row">
    <p class="small-12 columns"> Your event is reserved for {{params.date}} from {{params.startTime}} to {{params.endTime}} for {{params.guests}} guests</p>
  </div>
</span>


<form name="dateForm" ng-hide="eventConfirmed">
  <span class="small-2 columns" id="changepadding">
    <label> Guests </label>
    <input type="number" ng-model="params.guests" name="guests" ng-min="room.banquetCapacity" ng-max="room.receptionCapacity+20" required>
  </span>

  <span class="small-4 columns" id="changepadding">
    <label> Date </label>
    <input id="datepicker" placeholder="Date" type="text" ng-model="params.date" ng-change="dateSearch()" name="date" required>
  </span>

  <span class= "small-3 columns" id="changepadding">
    <label> Start Time </label>
    <input class="timepicker" placeholder="Time" type="text" ng-change="setMinEndTime(); checkTime(params.startTime, params.endTime)" ng-model="params.startTime" name="startTime" required>
  </span>

  <span class= "small-3 columns" id="changepadding">
    <label> End Time </label>
    <input class="timepicker" id="eventend" placeholder="Time" type="text" ng-model="params.endTime" ng-change="checkTime(params.startTime, params.endTime)" name="endTime" required>
  </span>

<!-- event part of panel end -->
  <div class="text-center">
    <p ng-show="available" class="help-block"> Your time range is not available! </p>
  </div>
  <div class="text-center">
    <p ng-show="dateForm.guests.$error.max" class="help-block">This room cannot accommodate that many guests!</p>
  </div>
  <div class="text-center">
    <p ng-show="dateForm.guests.$error.min" class="help-block">You need more guests for this room!</p>
  </div>
  <div class="text-center">
    <p ng-show="dateForm.guests.$invalid || dateForm.date.$invalid || dateForm.startTime.$invalid || dateForm.endTime.$invalid " class="help-block"> Please complete the above before proceeding. </p>
    <button type="submit" class="button changepadding" ng-disabled="dateForm.$invalid || available" ng-click="toMenu()">Next</button>
  </div>
</form>

<div ng-hide="menuLabel">
  <hr>
    <span class="small-4 columns">
      <div class="row">
        <span class="small-6 columns">
          <img src="images/menu.png"> 
        </span>
        <p class="small-6 columns"><strong>MENU</strong></p>
      </div>
    </span>
    <span ng-show="menuConfirmed" class="small-12 columns">
  <div class="row">
    <p class="small-12 columns"> {{params.menu}} </p>
  </div>
</span>
</div>


  <div ng-hide="menuConfirmed">
    <span id= "small-4 columns">
      <div class="row">
        <span class="small-6 columns">
        </span>
        <span class="small-6 columns">
        </span>
      </div>
    </span>

    <div class="text-center">$3200</div>
    <div class="text-center">
      <button type="submit" class="button" ng-click="toPay()">Reserve</button>
    </div>
  </div>

  <div ng-hide="showSummary">
    <hr>
    <p class="text-center"><strong>Summary</strong></p>
    <div class="row">
      <div class="small-8 columns">
      Menu
      </div>
      <div class="small-4 columns">
      $199
      </div>
    </div>
  </div>



</panel>
