
<div ng-controller="menuController" class="row">
  <h3 class="text-center"> {{menuTitle}} </h3>
  <hr>
  <div ng-repeat="course in currentMenu">
    <p class="text-center"> {{course.name}} </p>
    <div ng-repeat="options in course.menuItems">
    <h5 class="text-center">{{options.name}}</h5>
    <p class="text-center"><em>{{options.description}}</em></p>
    </div>
    <hr>
  </div> 
  <div class="text-center">
    <button type="submit" class="button" ng-click="chooseMenu()">Select This Menu</button>
  </div>
  <div class="row text-center">
    <div class="small-4 columns text-center">
      <button ng-hide="firstMenu" ng-click="prevMenu()">Previous Menu</button>
    </div>
    <div class="small-4 columns text-center">
      <span class="text-center">{{menuNumber+1}} of {{menus.length}}</span>
    </div>
    <div class="small-4 columns text-center">
      <button ng-hide="lastMenu" ng-click="nextMenu()" class="text-center"> Next Menu </button>
    </div> 
  </div>
</div>



