<div class="row">
  <div ng-controller="menuController" class="medium-9 columns">
    <hr>
    <div>select a menu for your experience</div>
    
    <a ng-hide="firstMenu" ng-click="prevMenu()">&lt;&lt;prev</a>
      <span>{{currentMenu.number}} of {{menus.length}}</span><a ng-hide="lastMenu" ng-click="prevMenu()">   next>></a>
    <div> {{currentMenu.title}} </div>
    <div ng-repeat="course in currentMenu.courses">
      <div ng-repeat="options in course.options">
      <div>{{option.name}}</div>
      <div>{{option.description}}</div>
      </div>
    </div>  
  </div>
  <div ng-controller="checkoutController" class="medium-3 columns">
    <div ui-view="checkoutbox"></div>
  </div>
</div>


