<!-- room and menu nav bar start/end -->

<!-- room and menu nav bar start/end -->

<script src="bower_components/foundation/js/foundation.js"></script>
  <div ng-controller="roomController">
    <div class="row">
      <div class="medium-12 columns">
        <p>{{room.description}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
       <div class="medium-3 columns">The Space</div>
       <div class="medium-9 columns">
          <ul>
            <li> Size: {{room.size}}</li>
            <li> Room Type: {{room.type}}</li>
            <li> Minimum Spend: ${{room.minSpend | number: fractionSize}}</li> 
            <li> Time Included: {{room.eventDuration}} hours</li>
          </ul>
       </div>
    </div>

    <hr>
    <div class="row">
       <div class="medium-3 columns">House Rules</div>
       <div class="medium-9 columns">
          <div class="row">
            <div class="medium-12 columns">
              <ul>
                <li> Cancellation Policy: {{room.cancelPolicy}}</li>
                <li> House Rules: {{room.houseRules}}</li>
              </ul>
            </div>
          </div>
        </div>
    </div>

    <hr>
    <div class="row">
       <div class="medium-3 columns">Fees</div>
       <div class="medium-9 columns">
          <div class="row">
            <div class="medium-12 columns">
              <ul>
                <li>Overage: ${{room.durationOverageFee}} per hour</li>
              </ul>
              <!-- <span ng-show="feeMore" ng-click="feeMoreClick()">+More</span> -->
            </div>
          </div>
        </div>
    </div>

      <!--   <hr>
        <div class="row">
          <div class="medium-3 columns">Layouts</div>
          <div class="medium-9 columns">
            <div class="row">
              <div class="medium-6 columns"></div>
              <div class="medium-6 columns"></div>
            </div>
          </div>
        </div> -->
        <hr>
        <div class="row">
           <div class="medium-3 columns">Amenities</div>
           <div class="medium-9 columns">
            <div class="row">
              <div class="medium-12 columns">
                <ul>
                  <li ng-repeat="amenities in room.amenities"> {{amenities}}</li>
                </ul>
               <!--  <span ng-if="amenityMore" ng-click="amenityMoreClick()">+More</span> -->
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
           <div class="medium-3 columns">Menus</div>
           <div class="medium-9 columns">
              <ul>
                <li> Menus: {{room.menuNumber}}</li>
                <li> Cuisine Type: {{room.cuisineType}}</li>
                <li> Price: ${{room.menuPrices[0]}} to ${{room.menuPrices[room.menuPrices.length-1]}} per person</li>
                <!-- <li> Customizable: {{room.customizable}}</li>  -->
              </ul>
           </div>
        </div>
  </div>

