<div class="silo verticalmenu">
    <div class="slideout-menu">
        <div>
            <div class="panel clearfix">
                <a class="right closeTagBox" title="close slideout">
                    <i class="fi-x"></i>
                </a>
                <label>
                    Add new <%= displayType %>
                    <input class="searchQuery" name="query" type="search" placeholder="enter <%= displayType %>"></label>
                <div class="clean-button-tiny right addNewTag">add</div>
            </div>
            <ul class="menu-list">
            </ul>
        </div>
    </div>
</div>
