<nav data-topbar="" role="navigation" data-options="is_hover: true" class="top-bar">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#" target="_self"><img src="/assets/images/logo.png" width="100" height="24"><span>Calendar</span></a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone-->
        <li class="toggle-topbar menu-icon"><a href="#" target="_self"><span>Menu</span></a>
        </li>
    </ul>
    <section class="top-bar-section">
        <!-- Right Nav Section-->
        <ul class="right">
            <li><a href="#" target="_self">+ Event</a>
            </li>
            <li><a href="#" target="_self">+ Prospect</a>
            </li>
            <li class="has-dropdown">
                <a href="#" target="_self"><img src="/assets/images/faces/craig.jpg" width="30" height="30">
                </a>
                <ul class="dropdown">
                    <li><a href="#" target="_self">settings</a>
                    </li>
                    <li class="active"><a href="/auth/logout" target="_self">logout</a>
                    </li>
                </ul>
            </li>
            <!--off canvas toggle class right-off-canvas-toggle -->
            <!--must have this toggle class for off canvas to work-->
            <!-- rest of the off canvas code is at layout-off-canvas.jade file-->
            <li>
                <a href="#" target="_self" class="right-off-canvas-toggle"><img src="/assets/images/slide-left.png" width="16" height="16">
                </a>
            </li>
        </ul>
        <!-- Left Nav Section-->
        <ul class="left">
            <li>
                <a href="#"><img src="/assets/images/calendar.png" width="16" height="16">
                </a>
            </li>
            <li>
                <a href="#"><img src="/assets/images/users.png" width="16" height="16">
                </a>
            </li>
            <li>
                <a href="#"><img src="/assets/images/mail.png" width="16" height="16">
                </a>
            </li>
            <li>
                <a href="#"><img src="/assets/images/door.png" width="16" height="16">
                </a>
            </li>
        </ul>
    </section>
</nav>
<hr style="margin:0">
