<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
<!--     <base href="/"> -->
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css" />
    <link rel="stylesheet" href="bower_components/ngModal/dist/ng-modal.css" />
    <link rel="stylesheet" href="bower_components/datetimepicker/jquery.datetimepicker.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/scss/app.css">
    <!-- endbuild -->
  </head>
  <body ng-app="privateTableApp">
    <div ng-controller="navController">
      <nav data-topbar="" role="navigation" data-options="is_hover: true" class="top-bar">
        <ul class="title-area">
          <li class="name">
            <h1><a ui-sref="landing" target="_self"><img src="../images/logo.png"></a></h1>
          </li> 
        </ul>
        <section class="top-bar-section">
        <ul ng-show="loggedIn">
          <li class="lgnMenu"><a ui-sref="bookings"><img  src="/images/notebook.png"></a></li>
          <li class="lgnMenu"><a ui-sref="favorites"><img src="/images/heart.png"></a></li>
        </ul>
          <ul class="right">
            <li><a ng-click="toggleLogin()">Log in</a></li>
            <li><a ng-click="toggleSignUp()">Sign up</a></li>
          </ul>
        </section>
      </nav>
      <modal-dialog show='signUpShown' dialog-title='Sign up:'>
        
     </modal-dialog>
    <modal-dialog show='loginShown' dialog-title='Login: Plan'>
        
     </modal-dialog>
    </div>
        <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <!-- Add your site or application content here -->
    <div ui-view> </div>
    <div class="footer">
      <p>Give us Feedback!</p>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- Google Maps Autocomplete -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="//js.stripe.com/v2/"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="bower_components/angular-payments/lib/angular-payments.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script src="bower_components/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="bower_components/foundation/js/foundation.js"></script>
    <script src="bower_components/ngModal/dist/ng-modal.js"></script>
    <script>$(document).foundation('clearing', 'reflow');</script>
    <script src="bower_components/datetimepicker/jquery.datetimepicker.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>

        <!--factories -->
        <script src="scripts/factory/searchBarFactory.js"></script>
        <script src="scripts/factory/searchResultsFactory.js"></script>
        <script src="scripts/factory/roomFactory.js"></script>
        <script src="scripts/factory/checkoutFactory.js"></script>


        <!--controllers -->
        <script src="scripts/controllers/topnavcontroller.js"></script>
        <script src="scripts/controllers/landing.js"></script>
        <script src="scripts/controllers/searchBar.js"></script>
        <script src="scripts/controllers/room.js"></script>
        <script src="scripts/controllers/menu.js"></script>
        <script src="scripts/controllers/checkout.js"></script>
        <script src="scripts/controllers/searchResultsController.js"></script>
        <script src="scripts/controllers/payments.js"></script>
        <script src="scripts/controllers/favoritescontroller.js"></script>
        <script src="scripts/controllers/bookings.js"></script>
        



        <!--directives -->
        <script src="scripts/directives/landing.js"></script>
        <!-- endbuild -->
</body>
</html>
