<div ng-controller="bookingsController"> 
  <div class="row">
    <div class="small-6 columns">
      <div class="row">
        <div class="small-3 columns">
          <h4 class="text-center"> Venue </h4>
        </div>
        <div class="small-3 columns">
          <h4 class="text-center"> Room </h4>
        </div>
        <div class="small-3 columns">
          <h4 class="text-center"> Contact </h4>
        </div>
        <div class="small-3 columns">
          <h4 class="text-center"> Title </h4>
        </div>
      </div>
      <div ng-repeat="booking in Bookings.bookings" ng-click="showDetails(booking)">
          <hr>
          <div class="small-3 columns">
            <p class="text-center"> {{booking.venue}} </p>
          </div>
          <div class="small-3 columns">
            <p class="text-center"> {{booking.room}} </p>
          </div>
          <div class="small-3 columns">
            <p class="text-center"> {{booking.contactFullName}} </p>
          </div>
          <div class="small-3 columns">
            <p class="text-center"> {{booking.contactTitle}} </p>
          </div>
      </div>
    </div>
    <div class="small-6 columns" ng-show="detailsReveal">
       <p class="text-center"> {{Bookings.currentBooking.venue}} </p>
       <p class="text-center"> {{Bookings.currentBooking.room}} </p>
       <p class="text-center"> {{Bookings.currentBooking.contactFullName}} </p>
       <p class="text-center"> {{Bookings.currentBooking.contactTitle}} </p>
       <p class="text-center"> {{Bookings.currentBooking.bookingStartTime}} </p>
       <p class="text-center"> {{Bookings.currentBooking.bookingEndTime}} </p>
       <img class="centercircle" src="{{Bookings.currentBooking.contactImage}}">
       <div class="roomimage" ng-style="{'background-image':'url(' + Bookings.currentBooking.roomImage + ')'}" >
       </div>
    </div>
  </div>
</div>