  <div ng-controller="bookingsController" class='bookingscontainer'> 
  <h2>Your Bookings</h2>
  <accordion class="bookingsaccordian">
    <accordion-group ng-repeat="booking in Bookings.bookings" is-open="isopen" ng-click="toggleChevron">
        <accordion-heading>
            {{booking.room}} at {{booking.venue}} <span class="right">{{booking.bookingStartTime | date: 'fullDate'}}  <img src="/images/chevron-right.png"> </span>
        </accordion-heading>
         <div class="row">
           <div class="medium-6 columns"> 
              <div class="roomimage" ng-style="{'background-image':'url(' + booking.roomImage + ')'}" >
              </div>
           </div>
          <div class="medium-6 columns"> 
             <p class="text-center">Your booking for the</p>
             <h4 class="text-center"> {{booking.room}} </h4>
             <p class="text-center"> at the {{booking.venue}} is confirmed for:<br>
              {{booking.bookingStartTime | date: 'fullDate'}} <br>
              from {{booking.bookingStartTime | date: 'h:mm a'}} to {{booking.bookingEndTime | date: 'h:mm a'}} </p>
              <hr >
              <div class="bookingcontact">
                <img class="circle" src="{{booking.contactImage}}">
                <p class="text-center">
                {{booking.contactFullName}} <br>
                {{booking.contactTitle}} </p>
              </div>
         </div>
    </div>
    </accordion-group>
  </accordion>
</div>