<!-- navbar start -->
<div ng-controller="checkoutController"> 
  <nav data-topbar="" role="navigation" data-options="is_hover: true" class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a ui-sref="landing" target="_self"><img src="../images/logo.png"></a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><a ui-sref="searchBar" target="_self">Back to Search Results</a>
        </li>
        <li><a ui-sref="landing" target="_self">Log in</a>
        </li>
        <li><a ui-sref="landing" target="_self">Sign up</a>
        </li>
      </ul>
    </section>
  </nav>
</div>

<div style="background-image:url('/images/hires/room/blux7.png'); background-repeat:repeat-x; width:100%; height:400px">
  </div>
  <div>
  Text Container Begin
    <div>{{room.prop}}</div>
    <div>{{room.venue}}</div>
    <div class="row">
      <div class="medium-1 columns center">
        <img src="/images/time.png"><br />
        {{room.roomType}}
      </div>
      <div class="medium-1 columns">
        <img src="/images/time.png"><br />
        {{room.guestMin}} - {{room.guestMax}} Guests
      </div>
      <div class="medium-1 columns">
        <img src="/images/time.png"><br />
        ${{room.budgetMin}}
      </div>
      <div class="medium-1 columns">
        <img src="/images/time.png"><br />
        {{room.timeMin}} Hours
      </div>
      <div class="medium-1 columns end">
        <img src="/images/tableround.png"><br />
        {{room.layouts}} Layouts
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="medium-9 columns" ng-controller="roomController">
    <div ui-view></div>
  </div>
  <div class="medium-3 columns">
    <div ui-view="checkoutbox"></div>
  </div>
</div>
