<!-- navbar start -->
<div ng-controller="favoritesController" class="fixed"> 
  <nav data-topbar="" role="navigation" data-options="is_hover: true" class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a ui-sref="landing" target="_self"><img src="../images/logo.png"></a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><a ui-sref="landing" target="_self">Log in</a>
        </li>
        <li><a ui-sref="landing" target="_self">Sign up</a>
        </li>
      </ul>
    </section>
  </nav>
</div>
<div ui-view="searchResults"></div>