<form ng-controller="paymentsController" stripe-form="stripeCallback">
  <label> Full Name </label>
  <input ng-model="name" placeholder="Full Name"/>
  <label> Email </label>
  <input ng-model="email" placeholder="Email"/>
<!--   <label> Address </label>
  <input ng-model="address_line1" placeholder="Address"/>
  <label> City </label>
  <input ng-model="address_city" placeholder="City"/>
  <label> State </label>
  <input ng-model="address_state" placeholder="State"/>
  <label> Country </label>
  <input ng-model="address_country" placeholder="Country"/>
  <label> Zip Code </label>
  <input ng-model="address_zip" placeholder="Zip Code"/> -->
  <label> Card Number </label>
  <input ng-model="number" placeholder="Card Number" payments-format="card" payments-validate="card"/>
  <label> Expiration </label>
  <input ng-model="expiry" placeholder="MM/YY" payments-format="expiry" payments-validate="expiry"/>
  <label> CVC </label>
  <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc"/>
  <div> </div>
  <button type="submit">Submit</button>
</form>