<!-- navbar start -->
<div ng-controller="searchBarController" class="fixed"> 
  <nav data-topbar="" role="navigation" data-options="is_hover: true" class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a ui-sref="landing" target="_self"><img src="../images/logo.png"></a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><a ui-sref="checkout" target="_self">Log in</a>
        </li>
        <li><a ui-sref="landing" target="_self">Sign up</a>
        </li>
      </ul>
    </section>
    <form name="searchForm" id="form1" ng-submit="newSearch()" novalidate>
        <div class="large-2 columns">
          <input type="text" placeholder="Location" class="form-control" id="string" name="string" required ng-model="params.location" ng-click="submitSearch()" ng-model="chosenPlace" googleplace>
        </div>

        <div class="large-1 columns">
          <input id="datepicker" ng-change="submitSearch()" placeholder="Date" type="text" ng-model="params.date">
        </div>

        <div class="large-1 columns">
          <input id="timepicker" ng-change="submitSearch()" placeholder="Time" type="text" ng-model="params.time">
        </div>

        <div class="small-2 columns">
        <!-- ng-model="searchParams.eventType" -->
          <select ng-model="params.eventType" ng-change="submitSearch()">
            <option value="" selected disabled>Select Event Type</option>
            <option value="Reception">Reception</option>
            <option value="Banquet">Banquet</option>
            <option value="Reception and Banquet">Reception and Banquet</option>
          </select>
        </div>
        <div class="large-1 columns">
            <input type="text" placeholder="Guests" ng-model="params.guests">
        </div>
        <div class="large-1 columns">
            <input type="text" placeholder="Budget" ng-model="params.budget">
        </div>
      <button type="submit" class="button small" ng-click="submitSearch()">Search</button>
    </form>
  </nav>
</div>
<div ui-view="searchResults"></div>

