<!--a.right-off-canvas-toggle(href='#') Menu-->
<!--toggle is located in templates/header-pre.jade file-->
<!-- Off Canvas Menu-->
<aside class="right-off-canvas-menu">
    <!-- whatever you want goes here-->
    <ul>
        <li><a href="#">Item 1</a>
        </li>
    </ul> ...</aside>
<!-- main content goes here-->
<div class="page-wrapper">
    <div id="topnav">
    
    </div>
    <div class="content-wrapper">
        <div class="subnav">
            <div class="row collapse">
                <div class="columns small-12 medium-11 medium-centered large-12">
                    <ul class="inline-list">
                        <li class="nav-setup">
                            <a href="/#/setup">
                                Setup
                            </a>
                        </li>
                        <li class="nav-images">
                            <a href="/#/images">
                                Images
                            </a>
                        </li>
                        <li class="nav-rooms">
                            <a href="/#/rooms">
                                Rooms
                            </a>
                        </li>
                        <li class="nav-menus">
                            <a href="/#/menus">
                                Menus
                            </a>

                        </li>
                        <li class="nav-menu-items">
                            <a href="/#/menu-items">
                            Menu Items
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div data-equalizer class="row collapse" id="setupContent">

        </div>
    </div>
</div>

<!-- close the off-canvas menu-->
<a class="exit-off-canvas"></a>
