            <!--a.right-off-canvas-toggle(href='#') Menu-->
            <!--toggle is located in templates/header-pre.jade file-->
            <!-- Off Canvas Menu-->
            <aside class="right-off-canvas-menu">
                <!-- whatever you want goes here-->
                <ul>
                    <li><a href="#">Item 1</a>
                    </li>
                </ul> ...</aside>
            <!-- main content goes here-->
            <div class="page-wrapper">
                <div class="sticky">
                
                </div>
                <div class="content-wrapper">
                    <div class="subnav">
                        <div class="row collapse">
                            <div class="columns small-12 medium-11 medium-centered large-12">
                                <ul class="inline-list">
                                    <li class="active">Setup</li>
                                    <li>Images</li>
                                    <li>Rooms</li>
                                    <li>Menus</li>
                                    <li>Menu Items</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div data-equalizer class="row collapse">
                        <div data-equalizer-watch class="columns large-3 left-col">
                            <div class="silo verticalmenu">
                                <div class="menu-wrap">
                                    <label>
                                        <input id="autocomplete" tabindex="1" type="search" placeholder="Search Docs: e.g. forms" autocomplete="off">
                                    </label>
                                    <hr>
                                    <ul>
                                        <li class="active">
                                            Venue</li>
                                        <li>
                                            Terminology</li>
                                        <li>
                                            Services</li>
                                        <li>Roles</li>
                                        <li>
                                            Settings</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div data-equalizer-watch class="columns large-9 right-col">
                            <div class="silo">
                                
                    </div>
                </div>
            </div>
            <!-- close the off-canvas menu-->
            <a class="exit-off-canvas"></a>
